body {
  font-family: sans-serif;
}

.my_photo {
  width: 600px;
}

.wrapper {
  width: 600px;
  margin: 0 auto;
}

.info {
  text-align: center;
}

.title {
  background: pink;
}

.subtitle {
  font-size: 1.2em;
  color: red;
}

.skill {
  list-style: circle;
}

.occupations a {
  color: green;
}

.occupations .time {
  font-size: 80%;
}
